<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <h1>Magic 8 Ball</h1>
        <input type="text" id="question">
        <input type="submit" value="Ask 8 Ball">
    </body>
</html>
