<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="ask8ball.js"></script>
    </head>
    <body>
        <h1>Magic 8 Ball</h1>
        <input type="text" id="question">
        <input type="submit" id="submitBtn" value="Ask 8 Ball">
    </body>
</html>
