body {
    background-color: #EBD4CB;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    color: #890620;
}

.bold_text {
    color: #B6465F;
    font-weight: bold;
}

a {
    color: #DA9F93;
}

.italic_text {
    font-style: italic;
}
