body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

div {
    margin: 10px;
}

.flexRow {
    display: flex;
    flex-direction: column;
}

label, input {
    display: flex;
    margin: 5px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
}

#checkMeOutCheckboxId, #checkMeOutLabelId {
    display: inline;
}

#emailNote {
    font-size: 10px;
    color: gray;
}

input[type="submit"] {
    display: inline;
    background-color: dodgerblue;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    padding: 15px 25px;
}
